@import "tailwindcss";


@theme{
  --color-alter:var(--background);
  --color-primary:var(--primary);
  --color-text:var(--text);
  --color-secondary:var(--secondary)
}

:root {
  --background: #ffffff;
  --primary: #000;
  --text: #525252;
  --secondary: #f0f0f0;
}

.dark {
  --background: #000000;
  --primary: #fff;
  --text: #b9b9b9;
  --secondary: #0f0f0f;
}

body {
  background-color: var(--background);
}