@import "tailwindcss";


@theme{
  --color-header:var(--header);
  --color-text:var(--text);
  --color-container:var(--container)
}

:root {
  --background: #f0f0f0;
  --header: #000;
  --text: #525252;
  --container: #ffffff;
}

.dark {
  --background: #0f0f0f;
  --header: #fff;
  --text: #b9b9b9;
  --container: #383838;
}

body {
  background-color: var(--background);
}